@import '../../../../styles/main';
.navbar {
	padding: 40px;
	width: 100%;
	&__container {
		max-width: $max-width;
		width: 100%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
	}
	&__links {
		ul {
			display: flex;
			align-items: center;
			li {
				margin-right: 20px;
				font-size: 2rem;
				font-weight: weight(medium);
				line-height: 23px;
				&:last-child {
					margin-right: 0px;
				}
			}
		}
	}
}
