@import '../../../styles/main';
.cta-card {
	padding: 40px;
	width: 100%;
	&__container {
		max-width: $max-width;
		width: 100%;
		margin: auto;
		background-color: $bg-light;
		border-radius: 4px;
		padding-top: 50px;
		padding-bottom: 30px;
		h1 {
			color: $light;
			width: 95%;
			margin: auto;
		}
		p {
			margin: 20px auto 30px auto;
			width: 80%;
		}
		button {
			margin-bottom: 20px;
		}
	}
}
